// Declaracion de colores para el Tema que se va usar en la pagina web
$neon_purple: #c724b1;
$andes_sky: #71dbd4;
$imperial_purple: #320938;
$explorer_blue: #58a7af;
$filtered_light: #c06ccd;
$magic_night: #090937;
$synth_city: url(https://wallpapercave.com/wp/wp2343898.jpg);

@mixin flex_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  @include flex_column;
  font-family: "Orbitron", "Segoe UI";
  color: $filtered_light;
  background-image: $synth_city;
  background-size: cover;
}

article {
  @include flex_column;
  background-color: $magic_night;
  padding: 20px;
  border-radius: 20px;
  h1 {
    background-color: $filtered_light;
    color: $andes_sky;
    text-align: end;
    line-height: 160px;
    font-size: 40px;
    width: 350px;
    height: 100px;
  }
}

button {
  background-color: $imperial_purple;
  color: $andes_sky;
  width: 75px;
  height: 75px;
  margin: 3px;
  border: none;
  font-size: 25px;
  transition: background-color 1s;
}

button:hover {
  background-color: $neon_purple;
}
